

/* TODO: CLEAN UP THIS MESS! */


html{
	height: 100%;
}

/* Body of the document */
body#signup-gadget{
	font-family: Trebuchet MS;
	font-size: 10pt;
	margin: 0%; padding: 0%;
	height: 100%;
}

h1#ilmomasiina-title span{
	visibility: hidden;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

div#before-container-div{
	background-image: url(default/shadow-left.png);
	background-repeat: no-repeat;
	background-position: right;
	position: absolute;
	top: 177px;
	left: 0%;
	width: 5%;
	height: 450px;
	z-index: 2;
}

div#after-container-div{
	background-image: url(default/shadow-right.png);
	background-repeat: no-repeat;
	background-position: left;
	position: absolute;
	top: 177px;
	right: 0%;
	width: 5%;
	height: 450px;
	z-index: 2;
}

/* Main container div */
div#container{
	position: absolute;
	top: 100px;
	left: 5%;
	width: 90%;
	z-index: 3;
	background-color: White;
}


/* The header container */
div#header{

}

/* The header of every page */
h1#ilmomasiina-title{
	margin: 0%; padding: 0%;
	background-image: url(default/ilmomasiina-title.png);
	background-repeat: no-repeat;
	margin-top: 50px;
	margin-left: 3%;
	margin-bottom: 30px;
	width: 100%;
}

/* Container of Athene guild info */
h2#athene-guild{
	display: none; 
}

h2#athene-guild span{
	display: none;
}

/* Div for error messages */
div#error{
	padding: 0% 3%;
	width: 94%;
}

/* Div for main content */
div#main{
	padding: 0% 3%;
	width: 94%;
	background-color: White;
}

/* Signup gadgets table */
table#signup-gadgets{
	border: 1px solid #D0D0D0;
	width: 100%;
}

/* The headers of signup gadgets table */
tr#signup-header-row{
	background-color: #D9EBF8;
	text-align: left;
}

tr#signup-header-row td{
}

th#signup-name-header{ }
th#signup-opens-header{ }
th#signup-closes-header{ }
th#open-close-state-header{ }

/* Signup gadgets list */
tr.answer-row-light{
	
}

tr.answer-row-dark{
	background-color: #F0F0F0;
}

td.signup-name{ }
td.signup-opens{ }
td.signup-closes{ }
td.open-close-state{ }

/* Open/close states in the table */
span.signup-open{
	color: green;
}
span.signup-closed{
	color: red;
}
span.signup-not-yet-open{
}

/* Contact info in case of failure */
div#contact{ 
	width: 100%;
	text-align: center;
}

p#admin-email{
	margin-top: 10%;
	font-family: Trebuchet MS;
	color: #8A8A8A;
	font-size: 90%;
}

/* Div for debug messages */
div#debug{
	padding: 0% 3%;
	width: 94%;
}

/* Information of selected signup */
div#signup-info{
	margin-bottom: 3%;
}
h1#signup-title{ }
p#signup-description{ }

/* Signup state in the paragraph */
p#signup-open{ color: green; }
p#signup-closed{ color: red; }
p#signup-not-yet-open{ color: yellow; }

/* Signup button form */
form#signup-button-form{ }

/* Signup button */
input#signup-button{
	border: 1px solid #BBBBBB;
	background-color: #ECECEC;
	font-weight: bold;
}

/* Answers */
div#answers-container{
	margin-top: 3%;
}

/* If signup gadget is private small info text is printed */
p#private-signup{
	
}

/* Answer table */
table#answers-table{ 
	border: 1px solid #D0D0D0;
	width: 100%;
}
tr#answers-header-row{ 
	background-color: #D9EBF8;
	text-align: left;
}
td#answer-position-header{ }
th.question-header{ }

/* Confirmed answer */
tr.answer-row{ }
td.answer-position{ }
td.answer{ }
td.edit-answer{ }
td.delete-answer{ }

/* Unconfirmed answer */
tr.unconfirmed-answer-row{ }
tr.unconfirmed-answer-position{ }
tr.unconfirmed-answer-empty{ }
tr.unconfirmed-answer-edit-empty{ }
tr.unconfirmed-answer-delete-empty{ }

/* Position information */
div#signup-position-info-div{ }
p#signup-position-info{ }

/* Signup confirmation questions */
div#questions{
	margin: 4% 0%;
}
form#questions-form{ }
div.question-container{
	margin: 1em 0em;
}

p.question-label{
	font-weight: bold;
	margin-bottom: 0.3em;
}
span.required{
	color: red;
}

/* Text, textarea, dropdown */
input.question-text{
	width: 30em;
}
select.question-dropdown{
	width: 5em;
}
textarea.question-textarea{
	width: 30em;
	height: 10em;
}

/* Radio button */
p.question-radio-label{
	margin: 0.5em 0%;
}
input.question-radio{ }

/* Checkbox */
p.question-checkbox-label{ 
	margin: 0.5em 0%;
}
input.question-checkbox{ }

/* Confirm button */
input#confirm-button{
	margin-top: 2em;
	border: 1px solid #BBBBBB;
	background-color: #ECECEC;
	font-weight: bold;
}

/* Cancel button */
form#cancel-form{ }
input#cancel-button{
	margin-top: 2em;
	border: 1px solid #BBBBBB;
	background-color: #ECECEC;
	font-weight: bold;
}

/* Creating new signup gadget (admin mode) */
h3#new-signup-title{
	
}

p#no-check-warning{
	color: red;
}

/* Signup title */
div#title-container{
	margin-bottom: 2em;
}
p#signup-title-label{
	margin-bottom: 0.3em;
	font-weight: bold;
}
input#signup-title{
	width: 50em;
}

/* Signup description and confirmation mail message */
div#description-container, div#mailmessage-container{
	margin-bottom: 2em;
}
p#signup-description-label, p#mailmessage-label{
	margin-bottom: 0.3em;
	font-weight: bold;
}
textarea#signup-description, textarea#mailmessage{
	width: 50em;
	height: 15em;
}

/* Date select dropdowns */
div.date-select-container{
	margin-bottom: 2em;
}
p.date-select-title{
	margin-bottom: 0.3em;
	font-weight: bold;
}

/* Questions from JavaScript */
table#question_table{
	width: 100%;
}
table#question_table td{
	vertical-align: top;
}
p.question_label{
	margin-bottom: 0.3em;
	font-weight: bold;
}

input.form-option{
	width: 95%;
}

input.form_question{
	width: 95%;
}

select.form_type{
	width: 95%;
}

div#extra-div-1{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 177px;
	background-image: url(default/upper-blue.png);
	background-repeat: repeat-x;
	z-index: 2;
}

div#extra-div-2{
	background-image: url(default/shadow-left-continuos.png);
	background-repeat: repeat-y;
	background-position: right;
	position: fixed;
	left: 0%;
	top: 0%;
	width: 5%;
	height: 100%;
	z-index: 1;
}

div#extra-div-3{
	background-image: url(default/shadow-right-continuos.png);
	background-repeat: repeat-y;
	background-position: left;
	position: fixed;
	right: 0%;
	top: 0%;
	width: 5%;
	height: 100%;
	z-index: 1;
}