<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule !.(js|ico|gif|jpg|png|css)$ index.php [E=REMOTE_USER:%{HTTP:Authorization},L]

</IfModule>
<IfModule !mod_rewrite.c>
	ErrorDocument 404 /index.php
</IfModule>
